@media(max-width:760px){
    .container{
        width: 700px;
        margin: 0 auto;
    
     /*   border: solid 1px red;*/
    }
    .en_title{
        font-size: 22px;
    }
    .ja_title{
        font-size: 16px;
    }

    /* header */
    .container .menu{
        font-size: 16px;
    }
    /* headerここまで */

    /* top_box */
    .top_box .main_title{
        font-size: 30px;
    }
    .top_box .sub_title{
        font-size: 22px;
    }
    /* top_boxここまで */

    /* intro_box */
    .intro_box .intro_box_p_1, .intro_box .intro_box_p_2, .intro_box .intro_box_p_3{
        font-size: smaller;
    }
    /* intro_boxここまで */

    /* feature_box */
    .feature_box .feature_contents{
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature_content{
        margin-bottom: 60px;
    }
    .feature_content .feature_text_main{
        font-size: 22px;
    } 
    .feature_content .feature_text_sub{
        font-size: 14px;
    }
    /* feature_boxここまで */

    /* faq */
    .faq_contents{
        width: 500px;
        margin: 0 auto;
    }
    /* faqここまで */

    /* download */
    .download-message{
        font-size:20px;
    }
    /* downloadここまで */
}
